commands:
  01_create_storage:
    command: |
      mkdir -p /var/app/staging/storage/logs
      mkdir -p /var/app/staging/storage/framework/sessions
      mkdir -p /var/app/staging/storage/framework/views
      mkdir -p /var/app/staging/storage/framework/cache
      chown -R webapp:webapp /var/app/staging/storage
      chmod -R 775 /var/app/staging/storage
  02_final_storage:
    command: |
      mkdir -p /var/app/current/storage
      chmod -R 775 /var/app/current/storage
      chown -R webapp:webapp /var/app/current/storage