container_commands:
    01_storage_link:
        command: "php artisan storage:link"
        cwd: "/var/app/staging"
        leader_only: true
    02_cache_clear:
        command: "php artisan cache:clear"
        cwd: "/var/app/staging"
        leader_only: true
    03_config_clear:
        command: "php artisan config:clear"
        cwd: "/var/app/staging"
        leader_only: true
    04_view_clear:
        command: "php artisan view:clear"
        cwd: "/var/app/staging"
        leader_only: true